---
layout: default
title: Matt's Blog
---
<body>
  <div class = "container-fluid header-container">
    <div class = "row justify-content-left">
      <div class = "back">
        <a class = "mainlink" href ="/index.html">← HOME</a>
      </div>
  </div> 
  <div class = "row justify-content-left">
    <div class="col-md-2 justify-content"></div>
        <div class="col-md-7 justify-content-left">
            <h1 class = "display-4 page-header blog-title text-left">Analects</h1>
            <div class = "row justify-content-between"> 
              <div class = "col-md-5 posts-container"> 
            {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
              {% unless forloop.first %}</ul>{% endunless %}
              <h1 id=>{{ currentdate }}</h1>
              <ul class = "post_list">
              {% assign date = currentdate %}
            {% endif %}
              <li class = "post_item">
                <span class ="post_date">{{post.date | date: '%B %d'}}</span>
                <a class = "mainlink post_title" href = {{post.url}}> {{post.title}} </a>
              </li>
              {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
          </ul>
        </div>
      
      <div class = "col-md-4 sidebar">
        <h2>Matt Seidholz</h2>
        <p><i>Developer | Writer | Bageluere</i></p>
        <p>Just a freelance developer sharing his thoughts.</p>
        <p></p>
        <p>See my other writing <a class = "mainlink" 
          target = "_blank" href = "https://muckrack.com/matt-seidholz"> here.</a></p>

      </div>
    </div>
    </div>
  </div>
</div>

</body>
</html>
