---
layout: default
---
<body>
  <div class = "container-fluid header-container">
    <div class = "row justify-content-left">
      <div class = "back">
        <a class = "mainlink" href ="/blog.html">← BACK</a>
      </div>
  </div> 
  <div class = "row justify-content-left">

        <div class="col-md-7 justify-content-left">
            <h1 class = "display-4 page-header post-head text-left">{{page.title}}</h1>
        </div>
            <div class = "row justify-content-between"> 
              <div class = "col-md-7 post-content-container"> 
            {{ content }}
        </div>
      
      <div class = "col-md-4 sidebar">
        <h2>Matt Seidholz</h2>
        <p><i>Developer | Writer | Bageluere</i></p>
        <p>Just a freelance developer sharing his thoughts.</p>
        <p></p>
        <p>See my other writing <a class = "mainlink" 
          target = "_blank" href = "https://muckrack.com/matt-seidholz"> here.</a></p>

      </div>
    </div>
    </div>
  </div>
</div>

</body>
</html>
